<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.horizontalsystems.bankwallet"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="io.horizontalsystems.ethereumkit.infura_api_key"
            android:value="2a1306f1d12f4c109a4d4fb9be46b02e"/>

        <meta-data
            android:name="io.horizontalsystems.ethereumkit.etherscan_api_key"
            android:value="GKNHXT22ED7PRVCKZATFZQD1YI7FK9AAYE"/>
    </application>

</manifest>