<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.horizontalsystems.bankwallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".core.App"
        android:allowBackup="false"
        android:icon="@mipmap/bitcoin_launcher"
        android:label="@string/App_Name"
        android:roundIcon="@mipmap/bitcoin_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DarkModeAppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".modules.launcher.LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.coinsettings.CoinSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.backup.BackupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".modules.backup.words.BackupWordsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".modules.createwallet.view.CreateWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".modules.send.SendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
            android:name=".modules.restore.words.RestoreWordsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.qrscanner.QRScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.fulltransactioninfo.views.FullTransactionInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.fulltransactioninfo.dataprovider.DataProviderSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.settings.language.LanguageSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.settings.security.SecuritySettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.settings.AboutSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.notifications.NotificationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.contact.ContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.lockscreen.LockScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.pin.PinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.settings.basecurrency.BaseCurrencySettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.managecoins.views.ManageWalletsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.settings.managekeys.views.ManageKeysActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.restore.RestoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.welcome.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.restore.eos.RestoreEosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.keystore.KeyStoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.backup.eos.BackupEosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.contact.appstatus.AppStatusActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.settings.experimental.ExperimentalFeaturesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.settings.experimental.bitcoinhodling.BitcoinHodlingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.info.InfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.restore.restorecoins.RestoreCoinsActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
