<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <package android:name="org.telegram.messenger" />
    </queries>

    <application
        android:name=".core.App"
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:icon="@mipmap/launcher_main"
        android:label="@string/App_Name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme.DayNight"
        tools:ignore="GoogleAppIndexingWarning">

        <receiver
            android:name=".widgets.MarketWidgetReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" />
        </receiver>

        <activity
            android:name=".widgets.MarketWidgetConfigurationActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.launcher.LauncherActivity"
            android:theme="@style/Theme.App.Starting" />
        <activity
            android:name=".modules.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
        <activity
            android:name=".modules.qrscanner.QRScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.lockscreen.LockScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.intro.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.keystore.KeyStoreActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>

        <activity-alias
            android:name="${applicationId}.MainLauncherAlias"
            android:enabled="true"
            android:icon="@mipmap/launcher_main"
            android:label="@string/App_Name"
            android:exported="true"
            android:targetActivity=".modules.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="wc" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="unstoppable" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="${applicationId}.DarkLauncherAlias"
            android:enabled="false"
            android:icon="@mipmap/launcher_dark"
            android:label="@string/App_Name"
            android:exported="true"
            android:targetActivity=".modules.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="wc" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="unstoppable" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="${applicationId}.MonoLauncherAlias"
            android:enabled="false"
            android:icon="@mipmap/launcher_mono"
            android:label="@string/App_Name"
            android:exported="true"
            android:targetActivity=".modules.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="wc" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="unstoppable" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="${applicationId}.LeoLauncherAlias"
            android:enabled="false"
            android:icon="@mipmap/launcher_leo"
            android:label="@string/App_Name"
            android:exported="true"
            android:targetActivity=".modules.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="wc" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="unstoppable" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="${applicationId}.MustangLauncherAlias"
            android:enabled="false"
            android:icon="@mipmap/launcher_mustang"
            android:label="@string/App_Name"
            android:exported="true"
            android:targetActivity=".modules.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="wc" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="unstoppable" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="${applicationId}.YakLauncherAlias"
            android:enabled="false"
            android:icon="@mipmap/launcher_yak"
            android:label="@string/App_Name"
            android:exported="true"
            android:targetActivity=".modules.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="wc" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="unstoppable" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="${applicationId}.PunkLauncherAlias"
            android:enabled="false"
            android:icon="@mipmap/launcher_punk"
            android:label="@string/App_Name"
            android:exported="true"
            android:targetActivity=".modules.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="wc" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="unstoppable" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="${applicationId}.ApeLauncherAlias"
            android:enabled="false"
            android:icon="@mipmap/launcher_ape"
            android:label="@string/App_Name"
            android:exported="true"
            android:targetActivity=".modules.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="wc" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="unstoppable" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="${applicationId}.Ball8LauncherAlias"
            android:enabled="false"
            android:icon="@mipmap/launcher_8ball"
            android:label="@string/App_Name"
            android:exported="true"
            android:targetActivity=".modules.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="wc" />
            </intent-filter>
            <intent-filter android:label="@string/App_Name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="unstoppable" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>