<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.horizontalsystems.bankwallet"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application
        android:name="io.horizontalsystems.bankwallet.core.App"
        android:allowBackup="true"
        android:icon="@mipmap/bitcoin_launcher"
        android:label="@string/App_Name"
        android:roundIcon="@mipmap/bitcoin_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DarkModeAppTheme">
        <activity android:name="io.horizontalsystems.bankwallet.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="io.horizontalsystems.bankwallet.modules.guest.GuestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="io.horizontalsystems.bankwallet.modules.backup.BackupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="io.horizontalsystems.bankwallet.modules.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="io.horizontalsystems.bankwallet.modules.restore.RestoreWalletActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="io.horizontalsystems.bankwallet.modules.send.QRScannerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="io.horizontalsystems.bankwallet.modules.fulltransactioninfo.FullTransactionInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="io.horizontalsystems.bankwallet.modules.settings.language.LanguageSettingsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="io.horizontalsystems.bankwallet.modules.settings.security.SecuritySettingsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="io.horizontalsystems.bankwallet.modules.settings.AboutSettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="io.horizontalsystems.bankwallet.modules.pin.PinActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="io.horizontalsystems.bankwallet.modules.settings.basecurrency.BaseCurrencySettingsActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>

        <meta-data
            android:name="io.horizontalsystems.ethereumkit.infura_api_key"
            android:value="2a1306f1d12f4c109a4d4fb9be46b02e"/>

        <meta-data
            android:name="io.horizontalsystems.ethereumkit.etherscan_api_key"
            android:value="GKNHXT22ED7PRVCKZATFZQD1YI7FK9AAYE"/>
    </application>

</manifest>